<a href="https://colab.research.google.com/github/titaly/ML-Unit-2-Assignment-1_-Data-Wrangling/blob/main/Assignment_1__Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn # machine learning
import numpy as np # computation
import pandas as pd # data management

In [ ]:
#1. Load dataset
dataset = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
dataset.head(5)

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [ ]:
#2. Dimension 
dataset.shape

(44862, 5)

In [ ]:
#3. check the variable /categories

# Check numerical data
numerical_variable = dataset.columns[dataset.dtypes != "object"]
dataset[numerical_variable]

# Check categorical data
categorical_variable = dataset.columns[dataset.dtypes == "object"]
dataset[categorical_variable]

             date          state
0      2020-01-21     Washington
1      2020-01-22     Washington
2      2020-01-23     Washington
3      2020-01-24       Illinois
4      2020-01-24     Washington
...           ...            ...
44857  2022-05-22       Virginia
44858  2022-05-22     Washington
44859  2022-05-22  West Virginia
44860  2022-05-22      Wisconsin
44861  2022-05-22        Wyoming

[44862 rows x 2 columns]

In [ ]:
#4. Missing values
dataset.isnull()
dataset[numerical_variable].isnull().head(9)
dataset[categorical_variable].isnull().head(9)

    date  state
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False
8  False  False

In [ ]:
# 5. find out the percentage of missing value
dataset.isnull().sum()/len(dataset)

date      0.0
state     0.0
fips      0.0
cases     0.0
deaths    0.0
dtype: float64

In [ ]:
# 6. replace the missing value
dataset.fillna("There is no missing value.")

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
44857  2022-05-22       Virginia    51  1755290   20338
44858  2022-05-22     Washington    53  1555759   12902
44859  2022-05-22  West Virginia    54   509251    6915
44860  2022-05-22      Wisconsin    55  1654814   14531
44861  2022-05-22        Wyoming    56   157409    1820

[44862 rows x 5 columns]

In [ ]:
# 7. fillup the missing value with specific variable
dataset['state'].replace("Washington","Phnom Penh")

dataset = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
dataset.head(9)

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
5  2020-01-25  California     6      1       0
6  2020-01-25    Illinois    17      1       0
7  2020-01-25  Washington    53      1       0
8  2020-01-26     Arizona     4      1       0

In [ ]:
# 8. create the row and add it with the original dataset
row_insert = pd.Series(["2020-08-18", "New York", 33, 1, 0], index = ["date","state","fips","cases","deaths"])
dataset.append(row_insert, ignore_index = True)

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
44858  2022-05-22     Washington    53  1555759   12902
44859  2022-05-22  West Virginia    54   509251    6915
44860  2022-05-22      Wisconsin    55  1654814   14531
44861  2022-05-22        Wyoming    56   157409    1820
44862  2020-08-18       New York    33        1       0

[44863 rows x 5 columns]

In [ ]:
# 9. call the exact row from the dataset
dataset.iloc[0] 
dataset.iloc[1:18]
dataset.iloc[:5]

# call the specific value 
dataset = dataset.set_index(dataset['state'])
dataset.loc["Washington"]

                  date       state  fips    cases  deaths
state
Washington  2020-01-21  Washington    53        1       0
Washington  2020-01-22  Washington    53        1       0
Washington  2020-01-23  Washington    53        1       0
Washington  2020-01-24  Washington    53        1       0
Washington  2020-01-25  Washington    53        1       0
...                ...         ...   ...      ...     ...
Washington  2022-05-18  Washington    53  1547787   12882
Washington  2022-05-19  Washington    53  1547811   12882
Washington  2022-05-20  Washington    53  1555759   12902
Washington  2022-05-21  Washington    53  1555759   12902
Washington  2022-05-22  Washington    53  1555759   12902

[853 rows x 5 columns]

In [ ]:
# 10. rename the columns
dataset.rename(columns={'state' : 'province'}).head(9)

                  date    province  fips  cases  deaths
state
Washington  2020-01-21  Washington    53      1       0
Washington  2020-01-22  Washington    53      1       0
Washington  2020-01-23  Washington    53      1       0
Illinois    2020-01-24    Illinois    17      1       0
Washington  2020-01-24  Washington    53      1       0
California  2020-01-25  California     6      1       0
Illinois    2020-01-25    Illinois    17      1       0
Washington  2020-01-25  Washington    53      1       0
Arizona     2020-01-26     Arizona     4      1       0

In [ ]:
# 11. find the minimum and maximum , sum , count
dataset.min()
dataset.max()
dataset.sum()
dataset.count()

date      44862
state     44862
fips      44862
cases     44862
deaths    44862
dtype: int64

In [ ]:
# 12. delete the row and column
# delete first column
dataset.drop('deaths', axis = 1).head(6)
dataset.drop(dataset.columns[1], axis = 1) # delete column at index 1

                     date  fips    cases  deaths
state
Washington     2020-01-21    53        1       0
Washington     2020-01-22    53        1       0
Washington     2020-01-23    53        1       0
Illinois       2020-01-24    17        1       0
Washington     2020-01-24    53        1       0
...                   ...   ...      ...     ...
Virginia       2022-05-22    51  1755290   20338
Washington     2022-05-22    53  1555759   12902
West Virginia  2022-05-22    54   509251    6915
Wisconsin      2022-05-22    55  1654814   14531
Wyoming        2022-05-22    56   157409    1820

[44862 rows x 4 columns]

In [ ]:
# 13. unique value
dataset['state'].unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia', 'Northern Mariana Islands',
       'American Samoa'], dtype=object)